{{#each this}}
<li class="cocktail-item">
    <div class="item-box">
        <h2 class="title">{{strDrink}}</h2>
        <img class="photo-cocktail" src="{{strDrinkThumb}}" alt="{{strDrink}}">
        <ul class="ingredient-list">
            <li class="ingredient-item">{{strIngredient1}}</li>
            <li class="ingredient-item">{{strIngredient2}}</li>
            <li class="ingredient-item">{{strIngredient3}}</li>
            <li class="ingredient-item">{{strIngredient4}}</li>
            <li class="ingredient-item">{{strIngredient5}}</li>
            <li class="ingredient-item">{{strIngredient6}}</li>
            <li class="ingredient-item">{{strIngredient7}}</li>
            <li class="ingredient-item">{{strIngredient8}}</li>
            <li class="ingredient-item">{{strIngredient9}}</li>
            <li class="ingredient-item">{{strIngredient10}}</li>
        </ul>
        <p class="glass">{{strGlass}}</p>
        <p class="category">{{strCategory}}</p>
        <p class="alcoholic">{{strAlcoholic}}</p>
        <p class="tags">{{strTags}}</p>
        <a href="https://iba-world.com/">{{strTags}}</a>
    </div>
</li>
{{/each}}

{{!-- 
{{!-- 0:
strAlcoholic: "Alcoholic"
strCategory: "Ordinary Drink"
strDrink: "Margarita"
strDrinkThumb: "https://www.thecocktaildb.com/images/media/drink/5noda61589575158.jpg"
strGlass: "Cocktail glass"
strIBA: "Contemporary Classics"
strIngredient1: "Tequila"
strIngredient2: "Triple sec"
strIngredient3: "Lime juice"
strIngredient4: "Salt"
strInstructions: "Rub the rim of the glass with the lime slice to make the salt stick to it. Take care to moisten only
the outer rim and sprinkle the salt on it. The salt should present to the lips of the imbiber and never mix into the
cocktail. Shake the other ingredients with ice, then carefully pour into the glass."
strInstructionsES: null
strInstructionsFR: null
strInstructionsZH-HANS: null
strInstructionsZH-HANT: null
strMeasure1: "1 1/2 oz "
strMeasure2: "1/2 oz "
strMeasure3: "1 oz "
strTags: "IBA,ContemporaryClassic"
--!}}
 --}}